# Scraping Concerts - Lab

## Introduction

Now that you've seen how to scrape a simple website, it's time to again practice those skills on a full-fledged site!
In this lab, you'll practice your scraping skills on a music website: https://www.residentadvisor.net.
## Objectives

You will be able to:
* Scrape events from a website
* Follow links to those events to retrieve further information
* Clean and store scraped data

## View the Website

For this lab, you'll be scraping the https://www.residentadvisor.net website. Start by navigating to the events page [here](https://www.residentadvisor.net/events) in your browser.

<img src="images/ra.png">

In [ ]:
#Load the https://www.residentadvisor.net/events page in your browser.

## Open the Inspect Element Feature

Next, open the inspect element feature from your web browser in order to preview the underlying HTML associated with the page.

In [ ]:
#Open the inspect element feature in your browser

## Write a Function to Scrape all of the Events on the Given Page Events Page

The function should return a Pandas DataFrame with columns for the Event_Name, Venue, Event_Date and Number_of_Attendees.

In [57]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
def scrape_events(events_page_url):
    resp = requests.get(events_page_url)
    soup = BeautifulSoup(resp.text, 'html.parser')
    all = soup.find_all("article")
    entry = []
    for li in all[1:]:
        if li and li.h1 and li.h1.a:
            name = li.h1.a.text
        else:
            name = ""
        if li.h1 and li.h1.span:
            venue = li.h1.span.text
        else:
            venue = ""
        if li.span and li.span.time:
            date = li.span.time.text
        else:
            date = ""
        if li.p and li.p.span:
            attendee = li.p.span.text
        else:
            attendee = ""
            
        entr = [name, venue, date, attendee]
        entry.append(entr)
    
    df = pd.DataFrame(entry)
    df.columns = ["Event_Name", "Venue", "Event_Date", "Number_of_Attendees"]
    return df

In [40]:
df = scrape_events("https://www.residentadvisor.net/events")

In [41]:
df

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,The Spring Up,at Headroom,2019-05-17T00:00,2
1,Drop Dance Party - Silent Disco Edition,at Afrobrazilian Cultural Center of NJ,2019-05-18T00:00,1
2,Summer Rooftop Series,at Pour Abbey's,2019-05-19T00:00,2

## Write a Function to Retrieve the URL for the Next Page

In [ ]:
https://www.residentadvisor.net/events/us/newyork/week/2019-05-23

In [64]:
def next_page(url):
    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, 'html.parser')
    a = soup.find(attrs={"id": "liNext2"})
    return "https://www.residentadvisor.net/" + a.a["href"]

## Scrape the Next 1000 Events for Your Area

Display the data sorted by the number of attendees. If there is a tie for the number attending, sort by event date.

In [51]:
next_page(url)

<a ga-event-action="Next " ga-event-category="event-listings" ga-on="click" href="/events/us/newjersey/week/2019-05-23">Next </a>

'https://www.residentadvisor.net//events/us/newjersey/week/2019-05-23'

In [65]:
url = "https://www.residentadvisor.net/events/us/newyork/week/2019-05-09"
df = pd.DataFrame(["Event_Name", "Venue", "Event_Date", "Number_of_Attendees"])

for i in range(50):
    new_df = scrape_events(url)
    if len(new_df) >0: 
        df = pd.concat([df, new_df])
    url = next_page(url)
    #print(url)
    if not url: break
df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/pandas/core/indexes/range.py:465: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return self._int64index.union(other)

https://www.residentadvisor.net//events/us/newyork/week/2019-05-16

/opt/conda/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

https://www.residentadvisor.net//events/us/newyork/week/2019-05-23
https://www.residentadvisor.net//events/us/newyork/week/2019-05-30
https://www.residentadvisor.net//events/us/newyork/week/2019-06-06
https://www.residentadvisor.net//events/us/newyork/week/2019-06-13
https://www.residentadvisor.net//events/us/newyork/week/2019-06-20
https://www.residentadvisor.net//events/us/newyork/week/2019-06-27
https://www.residentadvisor.net//events/us/newyork/week/2019-07-04
https://www.residentadvisor.net//events/us/newyork/week/2019-07-11
https://www.residentadvisor.net//events/us/newyork/week/2019-07-18
https://www.residentadvisor.net//events/us/newyork/week/2019-07-25
https://www.residentadvisor.net//events/us/newyork/week/2019-08-01
https://www.residentadvisor.net//events/us/newyork/week/2019-08-08
https://www.residentadvisor.net//events/us/newyork/week/2019-08-15
https://www.residentadvisor.net//events/us/newyork/week/2019-08-22
https://www.residentadvisor.net//events/us/newyork/week/2019-08-29
https://www.residentadvisor.net//events/us/newyork/week/2019-09-05
https://www.residentadvisor.net//events/us/newyork/week/2019-09-12
https://www.residentadvisor.net//events/us/newyork/week/2019-09-19
https://www.residentadvisor.net//events/us/newyork/week/2019-09-26
https://www.residentadvisor.net//events/us/newyork/week/2019-10-03
https://www.residentadvisor.net//events/us/newyork/week/2019-10-10
https://www.residentadvisor.net//events/us/newyork/week/2019-10-17
https://www.residentadvisor.net//events/us/newyork/week/2019-10-24
https://www.residentadvisor.net//events/us/newyork/week/2019-10-31
https://www.residentadvisor.net//events/us/newyork/week/2019-11-07
https://www.residentadvisor.net//events/us/newyork/week/2019-11-14
https://www.residentadvisor.net//events/us/newyork/week/2019-11-21
https://www.residentadvisor.net//events/us/newyork/week/2019-11-28

KeyError: 'href'

In [66]:
df

,0,Event_Name,Venue,Event_Date,Number_of_Attendees
0,Event_Name,NaN,NaN,NaN,NaN
1,Venue,NaN,NaN,NaN,NaN
2,Event_Date,NaN,NaN,NaN,NaN
3,Number_of_Attendees,NaN,NaN,NaN,NaN
0,NaN,"Denis Sulta, Day Cart & Wig-Wam Plus The Funky...",at Good Room,2019-05-09T00:00,97
1,NaN,Vitamins: Kiki Kudo ✿ X-Coast ✿ Opheliaxz ✿ Hi...,at Bossa Nova Civic Club,2019-05-09T00:00,10
2,NaN,Xoxa,at Happyfun Hideaway,2019-05-09T00:00,7
3,NaN,Shawn Dub + Monchan + Butter,at public records,2019-05-09T00:00,7
4,NaN,"Divine Phrases 01: DJ Voices, Devoye, DJ Wawa",at Baby's All Right,2019-05-09T00:00,5
5,NaN,"Quest?onmarc, Olive T & Gooddroid",at Le Bain,2019-05-09T00:00,
6,NaN,"So Natural x Undisclosed with Amiti, A-Kintero...",at TBA Brooklyn,2019-05-09T00:00,
7,NaN,Red Bull Music Festival presents Moor Mother: ...,at Bric House,2019-05-09T00:00,
8,NaN,Names You Can Trust // Tropical Past & Future ...,at Black Flamingo,2019-05-09T00:00,
9,NaN,Moira #16,at Sugarhill Disco,2019-05-09T00:00,
10,NaN,"Sistaspin Residency with Ana Cheza, Jody, KIF,...",at Elsewhere,2019-05-09T00:00,
11,NaN,"yes&yay Pres: The Den - Niichavo, Nico Kass",at Macao Trading Company,2019-05-09T00:00,
12,NaN,Anything Goes: Marcelo Vasami & Tim Robert,at 1 Oak,2019-05-09T00:00,
13,NaN,Techno Thursday's Industry,at Deseos Night Club,2019-05-09T00:00,
14,NaN,Vain New York,at Parish Ballroom,2019-05-09T00:00,
15,NaN,Trpl Blk Thursdays,at H0L0,2019-05-09T00:00,
16,NaN,Black Coffee - Brooklyn Mirage Opening Event -...,at Brooklyn Mirage,2019-05-10T00:00,494
17,NaN,"Boiler Room's 4:3 x DIS - Ian Isiah, Le1f, Br0...",at The 1896,2019-05-10T00:00,341
18,NaN,Friday: Avalon Emerson All Night,at Nowadays,2019-05-10T00:00,243
19,NaN,Rebekah / Heidi Sabertooth / Auspex / Ne/Re/A,at BASEMENT,2019-05-10T00:00,228
20,NaN,Nicola Cruz (Live/AV),at Knockdown Center,2019-05-10T00:00,182
21,NaN,Broke City: Luca Lozano (US Debut) / D. Tiffan...,at Market Hotel,2019-05-10T00:00,172
22,NaN,"Omar S, Taraval (Live), Rissa Garcia and More",at Elsewhere,2019-05-10T00:00,148
23,NaN,Sublimate: Clark Price (Honcho) & Analog Soul,at TBA - Brooklyn,2019-05-10T00:00,86
24,NaN,Freaky 15 || Pink Mammoth's 15 Year Anniversar...,at House Of Yes,2019-05-10T00:00,
25,NaN,"Inoki Party: David Hohme, Enamour & Marsh",at Good Room,2019-05-10T00:00,
...,...,...,...,...,...
11,NaN,,,,
12,NaN,,,,
13,NaN,,,,
14,NaN,,,,
15,NaN,,,,
16,NaN,,,,
17,NaN,,,,
18,NaN,,,,
19,NaN,,,,
20,NaN,,,,
21,NaN,,,,
0,NaN,,,,
1,NaN,,,,
2,NaN,,,,
3,NaN,,,,
4,NaN,,,,
5,NaN,,,,
6,NaN,,,,
7,NaN,,,,
8,NaN,,,,
9,NaN,,,,
10,NaN,,,,
11,NaN,,,,
12,NaN,,,,
13,NaN,,,,
14,NaN,,,,
15,NaN,,,,
16,NaN,,,,
17,NaN,,,,
18,NaN,,,,

## Summary 

Congratulations! In this lab, you successfully scraped a website for concert event information!